<?xml version="1.0" encoding="UTF-8"?>
<gupdate xmlns="http://www.google.com/update2/response" protocol="2.0">
  <app appid="@EXTENSION_ID@">
    <updatecheck codebase="http://127.0.0.1:8765/extension.crx" version="@VERSION@" />
  </app>
</gupdate>
