<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".chromedataplane.ChromePhotosDataPlaneLabService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="chrome_photos_https_data_plane_dev_lab" />
        </service>

        <service
            android:name=".chromeguard.ChromeGuardService"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":chrome_guard">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="chrome_process_death_guard_dev" />
        </service>

        <receiver
            android:name=".chromeguard.ChromeGuardBootReceiver"
            android:directBootAware="true"
            android:exported="false"
            android:process=":chrome_guard">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".chromedataplane.ChromePhotosDataPlaneLabReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.contentfilter.user.chromedataplane.command.START" />
                <action android:name="com.contentfilter.user.chromedataplane.command.STOP" />
                <action android:name="com.contentfilter.user.chromedataplane.command.STATUS" />
                <action android:name="com.contentfilter.user.chromedataplane.command.TRANSPORT_STATUS" />
                <action android:name="com.contentfilter.user.chromedataplane.command.TRANSPORT_STRESS" />
                <action android:name="com.contentfilter.user.chromedataplane.command.FULL_TUNNEL_START" />
                <action android:name="com.contentfilter.user.chromedataplane.command.FULL_TUNNEL_STOP" />
                <action android:name="com.contentfilter.user.chromedataplane.command.MAIN_PROCESS_KILL" />
                <action android:name="com.contentfilter.user.chromedataplane.command.MAIN_JAVA_CRASH" />
                <action android:name="com.contentfilter.user.chromedataplane.command.GUARD_PROCESS_KILL" />
                <action android:name="com.contentfilter.user.chromedataplane.command.GUARD_STATUS" />
                <action android:name="com.contentfilter.user.chromedataplane.command.PREPARE_UPDATE" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".chromedataplane.ChromeVisualShieldLabReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.contentfilter.user.chromevisualshield.command.START" />
                <action android:name="com.contentfilter.user.chromevisualshield.command.STOP" />
                <action android:name="com.contentfilter.user.chromevisualshield.command.RELEASE" />
                <action android:name="com.contentfilter.user.chromevisualshield.command.STATUS" />
                <action android:name="com.contentfilter.user.chromevisualshield.command.INJECT_STALE" />
                <action android:name="com.contentfilter.user.chromevisualshield.command.CANCEL_STRESS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
